#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@  --with autotools-dev

override_dh_auto_configure:
	dh_auto_configure -- \
		--enable-app-performance \
		--enable-app-sniffer \
		--enable-app-stats \
		--enable-doc \
		--enable-examples \
		--enable-fail-on-warning \
		--enable-fortify-sources \
		--enable-rohc-tests \
		--enable-shared \
		--enable-static \
